@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: "Montserrat";
  color: white;
}

html,
body {
  min-height: 100%;
}

body {
  background-color: rgb(35, 35, 35);
  border-color: white;
  color: white;
}

p {
  margin: 16px auto;
  line-height: 1.5em;
}
